.Rproj.user
.Rhistory
.RData
.Ruserdata
*.bam
*.pdf
*.Rproj
*.Rproj
*.pdf
*.png
*results*
*figures*
*bam*
*.tmp
*html
*.bed
*_rslurm*
*.chain
*.bed*
*data*
*.txt
*.csv
*archive*
*.nextflow
*.log
*.fq
*.gz
*.fastq
*work
*nextflow
.nextflow*
*.nextflow.log*
*fastqc*
*metrics*
*.zip
*.gtf
*.saf
*.rds
*.RData
*.narrowPeak
*.xls
*.err
*.out